#opcao-bolos:checked ~ #menu-bebidas,
#opcao-bebidas:checked ~ #menu-bolos {
    display: none;
}

.menu {
    width: 100%; 
}

body {
    overflow-x: hidden; 
    background: #3D1A11;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

input[type=radio] {
    display: none;
}


label {
    background-color: #563429;
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center top;
    color: white;
    display: block;
    font-size: 75%;
    padding: 2em 0 1em; 
    text-transform: uppercase;
} 

    label[for=opcao-bolos] {
        background-image: url(../imagens/icone-bolos.svg)
    } 

    label[for=opcao-bebidas] {
        background-image: url(../imagens/icone-bebidas.svg)
    }

    input[type=radio]:checked + label {
        background-color: #e4876d; 
    }

label {
    width: 50%;
    position: fixed;
    bottom: 0;
    z-index: 1; 
}

label[for=opcao-bolos] {
    left: 0;
}
label[for=opcao-bebidas] {
    right: 0;
}

.container-menus {
    transform: translateX(0);
    transition: transform 300ms ease;
    width: 200%;
}

.container-menus .menu {
    float: left;
    width: 50%;
}

#opcao-bebidas:checked ~ .container-menus {
    transform: translateX(-50%);
}
